*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: darkgrey;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.padding{
  padding: 2rem;
  overflow: auto;
}

input,select{
  color: black;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(2px); /* Apply a light blur effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#modal {
  background-color: rgba(255, 255, 255, 0.5);
  width: 450px;
  max-width: 80%;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  text-align: center;
}

#modal h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-style: italic;
  letter-spacing: 0.3rem;
}

#modal p {
  font-size: 1.5rem;
}

#canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh;
    width: 100vw; */
}

#verticalButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button{
  cursor: pointer;
}

#verticalButtons button {
  border: 0;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
}
#verticalButtons button:hover {
  background: blue;
}

#carCanvas {
  background: lightgray;
}
#networkCanvas {
  background: rgb(0, 0, 0);
}
#scoreCanvas {
  align-self: flex-start;
}
#maxDistanceContainer {
  text-align: center;
  margin-right: 1rem;
}

/*  */

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2rem 1rem;
  margin: auto;
  justify-content: space-evenly;
  max-width: 1300px;
  background: beige;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

fieldset legend {
  font-weight: bold;
  margin-bottom: 10px;
}

fieldset label {
  display: block;
  margin: 10px 0 5px 0;
}
fieldset input,
fieldset select {
  padding: 0.3rem 0.5rem;
}

#jsonFileContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#jsonFile {
  margin-left: 5px;
}
#submit {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
form button {
  padding: 0.5rem 1.5rem;
}

#overlay.hidden,
#canvas.hidden,
form.hidden {
  display: none;
}
